<div class="container">
  <div class="toolbar-options">
    <button class="btn btn-primary" disabled>
      <i class="fa-solid fa-plus"></i>
      Nuevo Tipo de Cuenta
    </button>
  </div>

  <app-table
    [data]="listadoTiposCuentas()"
  >
  </app-table>
</div>

<app-modal [open]="modalAlert()" (close)="modalAlert.set(false)">
  <div modal-header>
    <span>Mensaje</span>
    <button (click)="modalAlert.set(false)" class="modal-close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div modal-body>
    {{ modalMessageText() }}
  </div>

  <div modal-footer>
    <button class="btn btn-danger" (click)="modalAlert.set(false)">Cerrar</button>
  </div>
</app-modal>
