<div class="dropdown-wrapper">
  <!-- <select
    class="dropdown-select"
    id="dropdown-select"
    [value]="normalizedSelectedValue()"
    (change)="onChange($event)"
    [disabled]="disabled"
  >
    <option value="">{{ placeholder }}</option>
    @for (item of items; track item[valueField]) {
      <option [value]="item[valueField]">
        {{ item[labelField] }}
      </option>
    }
  </select> -->

  <select
    [id]="uniqueId()"
    class="dropdown-select"
    [value]="normalizedSelectedValue"
    [(ngModel)]="normalizedSelectedValue"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled"
  >
    <option value="">{{ placeholder }}</option>

    @for (item of items; track item[valueField]) {
      <option [value]="item[valueField]">
        {{ item[labelField] }}
      </option>
    }
  </select>

  <span class="dropdown-arrow">
    <i class="fa-solid fa-chevron-down"></i>
  </span>
</div>
