/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import './styles/theme.css';
@import './styles/button.css';
@import './styles/modal.css';
@import './styles/form.css';
@import './styles/dropdown.css';
@import './styles/table.css';
@import './styles/tree-node.css';
@import './styles/card.css';
@import './styles/datalist.css';







/* ===== SCROLL GLOBAL ===== */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;

}

*::-webkit-scrollbar-track {
  background: transparent;
  /* limpio */
}

*::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3);
  /* gris suave */
  border-radius: 10px;
  transition: background 0.2s ease in-out, opacity 0.1s ease in-out;
  opacity: 0;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.6);
  opacity: 1;
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(148, 163, 184, 0.4) transparent;
}

body {
  font-family: 'Inter', sans-serif, Arial;
  background-color: #0f172a;
  color: #e5e7eb;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 16px;
}

.toolbar-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}


.toolbar-options .wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.toolbar-options .wrapper .header-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  width: fit-content;
}



.toolbar-options .wrapper .filter-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 16px;

}

.toolbar-options .wrapper .filter-toolbar .filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}

.toolbar-options .wrapper .filter-toolbar .options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}



/* Responsive */
@media (max-width: 600px) {



  .toolbar-options .wrapper .filter-toolbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;

  }

  .toolbar-options .wrapper .filter-toolbar .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
