/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import './styles/theme.css';
@import './styles/button.css';
@import './styles/modal.css';
@import './styles/form.css';
@import './styles/dropdown.css';
@import './styles/table.css';
@import './styles/tree-node.css';
@import './styles/card.css';
@import './styles/datalist.css';





body{
  font-family: 'Inter', sans-serif, Arial;
  background-color: #0f172a;
  color: #e5e7eb;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding: 16px;
}

.toolbar-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:16px;
  margin-bottom: 16px;
}


/* ===== SCROLL GLOBAL ===== */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent; /* limpio */
}

*::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.3); /* gris suave */
  border-radius: 10px;
  transition: background 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(148,163,184,0.4) transparent;
}
