<div class="card-grid" [class.single]="!isArray(data)">
  @for (item of isArray(data) ? data : [data]; track trackByFn($index, item)) {
    <div class="card">
      <div class="card-body">
        <!-- IMAGE -->
        @if (imageField && getValue(item, imageField)) {
          <div class="card-image">
            <img [src]="getValue(item, imageField)" />
          </div>
        }

        <div class="card-content">
          <!-- TITLE + BADGE -->
          <div class="card-title">
            {{ resolveValue(item, titleField, title) }}

            @if (badge || hasField(item, badgeField)) {
              <span class="card-badge">
                {{ resolveValue(item, badgeField, badge) }}
              </span>
            }
          </div>

          <!-- DESCRIPTION -->
          <p class="card-description">
            @if (isNumber) {
              {{ resolveValue(item, descriptionField, description) | number: '1.2-2' }}
            } @else {
              {{ resolveValue(item, descriptionField, description) }}
            }
          </p>

          <!-- META -->
          @if (meta || hasField(item, metaField)) {
            <span class="card-meta">
              {{ meta ? meta + ': ' : '' }}

              @if (isNumber) {
                {{ resolveValue(item, metaField) | number: '1.2-2' }}
              } @else {
                {{ resolveValue(item, metaField) }}
              }
            </span>
          }
        </div>
      </div>

      <!-- FOOTER -->
      @if (actions.length > 0) {
        <div class="card-footer">
          <div class="card-actions">
            @if (actions.includes('view')) {
              <button class="actions view-button" (click)="onAction('view', item)">
                <i class="fa-regular fa-eye"></i>
              </button>
            }

            @if (actions.includes('edit')) {
              <button class="actions edit-button" (click)="onAction('edit', item)">
                <i class="fa-solid fa-pen"></i>
              </button>
            }

            @if (actions.includes('delete')) {
              <button class="actions delete-button" (click)="onAction('delete', item)">
                <i class="fa-solid fa-trash"></i>
              </button>
            }
          </div>
        </div>
      }
    </div>
  }
</div>
