.financial-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.financial-table th,
.financial-table td {
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
  text-align: right;
}

.financial-table th:first-child,
.financial-table td:first-child {
  text-align: left;
}

/* Sticky columna izquierda */
.sticky-col {
  position: sticky;
  left: 0;
  background: var(--card-bg);
  z-index: 2;
}

/* Header */
thead th {
  background: var(--header-bg);
  font-weight: 600;
}

/* Grupo */
.group-row td {
  background: #f3f4f6;
  font-weight: 600;
}

/* Totales */
.group-total-row {
  font-weight: 600;
  background: #fafafa;
}

.month-total-row {
  font-weight: bold;
  background: #e5e7eb;
}

/* Columna total */
.total-col {
  font-weight: bold;
  background: #f9fafb;
}

/* Colores financieros */
.income {
  color: #16a34a; /* verde */
}

.expense {
  color: #dc2626; /* rojo */
}

.dashboard-graph {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* PC: 3 columnas */
  gap: 20px;
}

.graph-container {
  min-width: 0;
  background: var(--card-bg);
  padding: 20px;
  border-radius: 8px;
}

.graph-container app-line-chart,
.graph-container app-bar-chart {
  display: block;
  width: 100%;
  min-width: 0;
}




/* Tablet y celular. la gráfica se acomodan una debajo de la otra */
@media (max-width: 1023px) {
  .dashboard-graph {
    grid-template-columns: 1fr;
  }
}




/* Celulares */
@media (min-width: 480px) {

}

/* Tablets */
@media (min-width: 768px) {
}

/* Laptops */
@media (min-width: 1024px) {
}

/* Monitores grandes */
@media (min-width: 1280px) {
}

/* Pantallas Full HD o mayores */
@media (min-width: 1440px) {
}

/* 4K o ultra wide */
@media (min-width: 1920px) {

}
